* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(sky.jpg);
    width: 100%;
    min-height: 100vh;
}

p {
    margin: 0;
    text-align: center;
    padding: 5px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Volkhov', serif;
    letter-spacing: 1.2px;
    font-size: 25px;
}
.calculator {
    margin: 10px;
    padding: 10px;
    width: 400px;
    background-color: rgb(42,143,155);
    border: 1px solid rgb(6,71,128);
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(6,71,128);
}

.calcrow {
    text-align: center;
    justify-content: center;
    display: flex;
}

#screen {
    display: table;
    width: 85%;
    background-color: black;
    text-align: right;
    font-size: 20px;
    min-height: 40px;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(6,71,128);
    box-shadow: 2px 2px 2px rgb(6,71,128);
    color: rgb(135,213,223);
}

.calcrow button {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border: 1px solid rgb(6,71,128);;
    background-color: rgb(135,213,223);
    box-shadow: 2px 2px 2px rgb(6,71,128);
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width: 60px;
    font-family: 'Volkhov', serif;
    font-size: 20px;
  }



